<nav class="navbar navbar-expand-md navbar-light bg-light">
  <img src={{imgUrl}} alt="FormaLab" style="width:100px">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <form class="form-inline my-2 my-lg-0 ml-auto">
        <button class="btn btn-outline-info my-2 my-sm-0" [routerLink]="['/login']">Login</button>
        <button class="btn btn-outline-success my-2 my-sm-0 mx-3" [routerLink]="['/register']">Register</button>
      </form>
    </div>
  </nav>